<%= javascript_include_tag 'moment.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'fullcalendar.min.js', 'data-turbolinks-track' => true %>
<p>
	<div class="row">
		<%= link_to "資訊總表", admin_live_view_path, class: "btn btn-default" %>
		<%= link_to "前往時刻表", admin_live_agenda_path, class: "btn btn-default" %>
		<%= link_to "直播總表", admin_live_lh_view_path, class: "btn btn-default" %>
	</div>
</p>
