<%= javascript_include_tag 'moment.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'fullcalendar.min.js', 'data-turbolinks-track' => true %>

<ul>
	<li><%= link_to "資訊總表", admin_live_view_path %></li>
	<li><%= link_to "前往時刻表", admin_live_agenda_path %></li>
	<li><%= link_to "直播總表", admin_live_lh_view_path %></li>
</ul>
