<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
<p>
	<div class="row">
		<%= link_to "資訊總表", admin_live_view_path, class: "btn btn-default" %>
		<%= link_to "前往時刻表", admin_live_agenda_path, class: "btn btn-default" %>
		<%= link_to "Live Host", admin_live_lh_view_path, class: "btn btn-default" %>
		<%= link_to "Content Master", admin_live_cm_view_path, class: "btn btn-default" %>
		<%= link_to "後續追蹤", admin_live_follow_up_path, class: "btn btn-default" %>
		<%= link_to "新增講者", admin_live_new_path, class: "btn btn-default" %>
	</div>
</p>
<script>
	$(function(){

			$('btn btn-default').click(function(){

					$('btn btn-default .active').removeClass('active'); // remove the class from the currently selected
					$(this).addClass('active'); // add the class to the newly clicked link

			});

	});
</script>
