<style>
	table {
		border-collapse: collapse !important;
	}

	thead, tbody{
		border: 2px solid black;
	}

	table.table > thead > tr > th {
		border: 2px solid black;
	}

	table,
	td,
	th {
		border: 1px solid black;
	}
	.table > tbody > tr > td.time_td {
		vertical-align: middle;
	}

	td.empty_td, .time_td {
		border-right: 2px solid black;
		border-top: 0px !important;
		border-bottom: 0px;
	}

	.final_slot {
		background-color: white;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
	}

	.all_td_final {
		background-color: rgba(0, 0, 0, 0.1);
		width: 30px;
		height: 70px;
		font-size: 0.75em;
		vertical-align: middle !important;
		text-align: center;
	}

	.all_td_event {
		width: 30px;
		height: 70px;
		font-size: 0.75em;
		vertical-align: middle !important;
		color: black;
		cursor: pointer;
		position: relative;
		z-index: 2;
	}

	.blue_background {
		background-color: #C5E5EC;
	}

	.green_background {
		background-color: #D4E9D0;
	}

	.orange_background {
		background-color: #E1D6EA;
	}

	.yellow_background {
		background-color: #FEF6AB;
		color: black;
		cursor: pointer;
	}

	.selected {
		background-color: red !important;
	}

	.closon {
		width: 50%;
		display: none;
		cursor: pointer;
		text-align: left;
		color: black;
		z-index: 3;
	}

	[draggable] {
	  -moz-user-select: none;
	  -khtml-user-select: none;
	  -webkit-user-select: none;
	  user-select: none;
	  -khtml-user-drag: element;
	  -webkit-user-drag: element;
	}

	.all_td_final.over {
	  border: 2px dashed #000 !important;
	}

	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		text-align: center;
		line-height: 70px;
		font-size: medium;
		z-index: 1;
		visibility: hidden;
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
	}

	#save_btn {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}

	.finalized {
		background-color: darkgray;
	}

	.right_thick {
		border-right: 2px solid black;
	}
</style>


<br>
<div class="row" style="height: 200px;">
	<div class="col-md-8" style="padding-left: 0px;">
		<%= image_tag("agenda-legend.png", class: "img-responsive") %>
	</div>
	<div class="col-md-4" style="padding-left: 0px; position: relative; height: 200px;">
		<a class="btn btn-default" id="save_btn">儲存</a>
	</div>

</div>
<br>


<table class="table text-center table-condensed" id="agenda">
	<thead>
		<tr>
			<th style="width: 5%;"></th>
			<% (@live_event.start_date..@live_event.end_date).each do |date| %>
				<th class="text-center thaed_css" colspan="<%= @live_event.channels %>"><%= date.strftime('%m/%d') %></th>
			<% end %>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<script>
	var user_idObj = {},
			time_idObj = {<%= @live_event.live_times.map { |t| "#{t.id}:[]"}.join(', ') %>},
			time_startArr = [],
			time_endArr = [];
	const channels = <%= @live_event.channels %>;

	$.ajax({
		'async': false,
		'global': false,
		'url': "<%= Api::LiveController::URL %>" +'/api/live.json',
		'dataType': "json",
		'success': function (data) {
			json = data;

			$.each(json, function (index, data) {

				// Sum up the appointments an user made
				if (!(data['user_id'] in user_idObj))
					user_idObj[data['user_id']] = 1;
				else
					user_idObj[data['user_id']] += 1;

				data['user_name'] = data['title'];
				data['title'] += ('<br>' + data['school'] + '<br>' + data['department']);

				time_idObj[data['time_id']].push({
					user_id: data['user_id'],
					user_name: data['user_name'],
					title: data['title']
				});
			})
		}
	});

	//render出final slot
	<% @live_times_array.each_with_index do |live_times, i| %>
		var clock = <%= i % 2 == 0 ? 1 : 2 %>;
		var tr = $('<tr class="final_slot" id="final_slot_<%= i %>"></tr>');
		tr.append($('<td class="time_td"><b>' + "<%= live_time_period(live_times[0]) %>" + '</b></td>'));

		$.each(<%= raw live_times.map { |t| [t.id, t.start.strftime('%^a')] } %>, function(index, data){
			for (var y = 1; y <= channels; y++) {
					var td = $('<td class="all_td_final"></td>');
					if(y == channels)
						td.addClass('right_thick');
					td.attr('time_id', data[0]);
					var channel = data[1] + ' 頻道' + y + '-' + clock;
					td.attr("channel", channel);
					td.append('<b>'+ data[1] + '<br>頻道' + y + '-' + clock + '</b>');
					tr.append(td);
			}
		});

	$('tbody').append(tr);

	<% end %>


	//render出講者資訊
	<% @live_times_array.each_with_index do |live_times, i| %>
		// decide how many rows to render
		var rowNum = <%= row_number_for_apps(live_times, @live_event) %>

		var trArray = [];
		for (var j = 0; j < rowNum; j++) {
			var tr = $('<tr></tr>');
			tr.append('<td class="empty_td"></td>');
			$.each(<%= live_times.map(&:id) %>, function(index, data){
				for (var z = 1; z <= channels; z++) {
					var td = $('<td></td>');
					if(z == channels)
						td.addClass("right_thick");

					// if there is a appointment
					var appointment = time_idObj[data].shift();
					if(appointment){
						td.addClass("all_td_event");
						td.attr("draggable", "true");
						td.attr("user_id", appointment.user_id);
						td.attr("time_id", data);
						td.append('<div class="overlay">還原</div>');
						td.append('<div><b user_name="' + appointment.user_name + '">' + appointment.title + '</b></div>');
						td.append('<div class="closon">隱藏</div>');
					}

					tr.append(td);
				}
			});
			trArray.push(tr);
		}
		var selector = 'tr#final_slot_<%= i %>';
		$(selector).after(trArray);
	<% end %>

	//上背景色
	$('td.all_td_event').each(function(){
		var tmp = user_idObj[$(this).attr('user_id')];
		if(tmp <= 2)
			$(this).addClass('orange_background');
		else if(tmp <= 4)
			$(this).addClass('blue_background');
		else {
			$(this).addClass('green_background');
		}
	});

	//td_event click event
	$('.all_td_event').click( all_td_event_click = function(){
		var _this_user_id = $(this).attr('user_id');
		if(_this_user_id != undefined) {
			$('td.all_td_event').each(function(){
				if($(this).attr('user_id') == _this_user_id){
					if($(this).hasClass('selected')) {
						$(this).removeClass('selected');
						$(this).children('.closon').hide();
					}
					else {
						$(this).addClass('selected');
						$(this).children('.closon').show();
					}
				}
			});
		}
	});

	// 隱藏功能
	$('.closon').click( closon_click = function () {
		$(this).parents('.selected').unbind('click');
		$(this).siblings('.overlay').css('visibility', 'visible');
	});

	// 還原功能
	$('.overlay').click( overlay_click = function() {
		$(this).css('visibility', 'hidden');
		$(this).parents('.all_td_event').bind('click', all_td_event_click);
		$(this).parents('.all_td_event').trigger('click');
	});

	// drag and drop
	var dragSrcEl = null;
	var fromEvent = false;
	var dragging = false;

	function handleDragStart(e) {
		// stop dragging if the live is finalized
		if($(this).hasClass("finalized")){
			return false;
		}

		dragging = true;

		var _this = $(this);
		if($(this).children().hasClass('closon'))
			fromEvent = true;
		else
			fromEvent = false;

	  this.style.opacity = '0.4';

		dragSrcEl = this;

	  e.originalEvent.dataTransfer.effectAllowed = 'move';
	}

	function handleDragOver(e) {
	  if (e.preventDefault) {
	    e.preventDefault();
	  }
		$(this).addClass('over');
	  e.originalEvent.dataTransfer.dropEffect = 'move';

	  return false;
	}

	function handleDragEnter(e) {
	  $(this).addClass('over');
	}

	function handleDragLeave(e) {
	  $(this).removeClass('over');
	}

	function handleDrop(e) {
		// event can only be placed to their own live_time's slots
		if($(this).attr("time_id") != $(dragSrcEl).attr("time_id"))
			return false;

		if($(this).hasClass('yellow_background')) {
			// cancel the already existing final info
			cancelFinal($(this).attr("user_id"));
		}else{
			$(this).addClass('yellow_background');
		}
		$(this).attr("user_id", $(dragSrcEl).attr("user_id"));

	  if (e.stopPropagation) {
	    e.stopPropagation();
	  }

		if (dragSrcEl != this) {
	    $(this).html($(dragSrcEl).html() + "<b>" + $(this).attr('channel') + "</b>");
	  }

		$(this).children('.closon').hide();

		// 隱藏功能
		$('.closon').unbind('click').click(function () {
			$(this).parents('.selected').unbind('click');
			$(this).siblings('.overlay').css('visibility', 'visible');
		});

		// 還原功能
		$('.overlay').unbind('click').click(function() {
			$(this).css('visibility', 'hidden');
			$(this).parents('.all_td_event').bind('click', all_td_event_click);
			$(this).parents('.all_td_event').trigger('click');
		});

		// lock all td related to the user_id
		var user_id = $(dragSrcEl).attr("user_id");
		$(".all_td_event[user_id=" + user_id + "]").addClass("finalized");


	  return false;
	}

	function handleDragEnd(e) {
		if($(this).hasClass('all_td_event'))
			this.style.opacity = '1';

	  $('.all_td_final').each(function(){
	    $(this).removeClass('over');
	  });

		dragSrcEl = null;
		dragging = false;
	}

	$('.all_td_event').each(function(){
		$(this).on('dragstart', handleDragStart);
		$(this).on('dragend', handleDragEnd);
	});

	$('.all_td_final').each(function(){
		$(this).on('dragenter', handleDragEnter);
		$(this).on('dragover', handleDragOver);
		$(this).on('dragleave', handleDragLeave);
		$(this).on('drop', handleDrop);
		$(this).on('dragend', handleDragEnd);
	});

	function cancelFinal(user_id){
		$('.all_td_event[user_id="' + user_id + '"]').removeClass("finalized");
	}

	// click and cancel the finalized user
	$('.all_td_final').click(function(){
		if(!$(this).hasClass("yellow_background"))
			return false;

		var user_id = $(this).attr("user_id");
		var channel = $(this).attr("channel");
		$(this).html("<b>" + channel + "</b>");
		cancelFinal(user_id);
		$(this).removeClass("yellow_background");
		$(this).removeAttr("user_id");
	});


	$('#save_btn').click(function(){
		var postData = [];
		$('.all_td_final').each(function(){
			var tmpObj = {}
			tmpObj['name'] = $(this).find('b').attr('user_name');
			tmpObj['time_id'] = $(this).attr('time_id');
			tmpObj['channel'] = $(this).attr('channel');
			postData.push(tmpObj);
		});

		$.ajax({
			'url': "<%= Api::LiveController::URL %>" +'/api/live',
			'method': 'PATCH',
			'data': { postData },
			'success': function() {
				alert('儲存完畢！');
				console.log(postData);
			}
		});
	});

	// scroll up the window when dragging to the top of the window
	$(document).mousemove(function(e){
		if(dragging && (e.pageY < $(document).scrollTop()+30)){
			var pos = $(document).scrollTop();
			$(window).scrollTop(pos-30);
		}
	})

	// Get所有final的資訊
	var getData = function () {
    var tmp = null;
    $.ajax({
				'async': false,
        'type': "GET",
        'global': false,
        'dataType': "json",
        'url': "<%= Api::LiveController::URL %>" +"/api/live/schedule",
        'success': function (data) {
          tmp = data;
        }
    });

    return tmp;
	}();

	// 秀出上次已儲存的講者資料
	for (var key in getData) {
		if(getData[key].name != null) {
			console.log(getData[key].name);
			var selector = 'td.all_td_final[time_id="' + getData[key].time_id + '"][channel="' + getData[key].channel + '"]';
			var textStr = '<div><b user_name="' + getData[key].name + '">' + getData[key].name + '<br>' + getData[key].school + '<br>' + getData[key].department + '<b></div>';
			$(selector).addClass('yellow_background');
			$(selector).attr('user_id', getData[key].user_id);
			// lock the user
			$(".all_td_event[user_id=" + getData[key].user_id + "]").addClass("finalized");
			$(selector).html(textStr +　"<b>" + $(selector).attr('channel') + "</b>");
		}
  }
</script>
