<div class="container col-md-7">
	<%= form_for @stream, :url => "/admin/live/channel/#{@stream.id}" do |f| %>


		<div class="form-group">
			<%= f.label :chennal, "頻道" %>
			<%= f.text_field :chennal, class: "form-control" %>
		</div>
		
		<div class="form-group">
			<%= f.label :live_host %>
			<%= f.text_field :live_host, class: "form-control" %>
		</div>

		<%= f.submit "更新", class: "btn btn-primary" %>

	<% end %>
</div>