<%= render 'date_selecter', local: { path: admin_live_cm_view_path,
																		 dates: @live_event.start_date..@live_event.end_date }
%>

<table class="table table-hover">
	<thead>
		<tr>
				<th>名字</th>
				<th>直播時間</th>
				<th>頻道</th>
				<th>Live Host</th>
				<th>直播地點</th>
				<th>直播連結</th>
				<th>IOH 連結</th>
				<th>移到 Part3</th>
				<th>Banner Status</th>
				<th>Enbed Link</th>
				<th>Survey Link</th>
				<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<% @lives.each do |live| %>
			<tr>
				<td><%= live.name %></td>
				<td><%= (live.live_time.start).strftime("%a %H:%M") %></td>
				<td><%= live.chennal %></td>
				<td><%= live.live_host %></td>
				<td><%= live.live.location %></td>
				<td>
					<% if live.youtube_url.present? %>
					<a href="#!" class="copy-link" data-clipboard-text="<%= live.youtube_url %>">Copy</a>
					<% end %>
				</td>
				<td>
				<% if live.live.ioh_url.present? %>
					<a href="<%= live.live.ioh_url %>" target="_blank">
						<span class="glyphicon glyphicon-new-window"></span>
					</a>
				<% end %>
				</td>
				<td>
					<% if live.move_to_part_3 %>
						<span class="glyphicon glyphicon-ok" style="color: green;"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove" style="color: red;"></span>
					<% end %>
				</td>
				<td><%= live.banner_status %></td>
				<th><%= live.embed_link_status %></th>
				<td>
					<% if live.paste_survey_link %>
						<span class="glyphicon glyphicon-ok" style="color: green;"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove" style="color: red;"></span>
					<% end %>
				</td>
				<td>
					<a href="<%= "/admin/live/cm/#{live.id}/edit" %>">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<script>
	new Clipboard('.copy-link');

	$('.copy-link').click(function(){
		$(this).text("Copied!");
	});
</script>
