<%= render 'date_selecter', local: { path: admin_live_follow_up_path,
																		 dates: @live_event.start_date..@live_event.end_date }
%>

<table class="table table-hover">
	<thead>
		<tr>
				<th>名字</th>
				<th>直播時間</th>
				<th>頻道</th>
				<th>Live Host</th>
				<th>直播地點</th>
				<th>講者截圖</th>
				<th>影片下載</th>
				<th>Youtube 命名</th>
				<th>存到 3TB</th>
				<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<% @lives.each do |live| %>
			<tr>
				<td><%= live.name %></td>
				<td><%= (live.live_time.start).strftime("%a %H:%M") %></td>
				<td><%= live.chennal %></td>
				<td><%= live.live_host %></td>
				<td><%= live.live.location %></td>
				<td>
					<% if live.speaker_screenshot %>
						<span class="glyphicon glyphicon-ok" style="color: green;"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove" style="color: red;"></span>
					<% end %>
				</td>
				<td>
					<% if live.video_download %>
						<span class="glyphicon glyphicon-ok" style="color: green;"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove" style="color: red;"></span>
					<% end %>
				</td>
				<td>
					<% if live.youtube_naming.present? %>
					<a href="#!" class="copy-link" data-clipboard-text="<%= live.youtube_naming %>">Copy</a>
					<% end %>
				</td>
				<td>
					<% if live.save_to_hard_drive %>
						<span class="glyphicon glyphicon-ok" style="color: green;"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove" style="color: red;"></span>
					<% end %>
				</td>
				<td>
					<a href="<%= "/admin/live/follow_up/#{live.id}/edit" %>">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<script>
	new Clipboard('.copy-link');

	$('.copy-link').click(function(){
		$(this).text("Copied!");
	});
</script>
