<%= render "live_nav" %>

<% if params[:query].nil? %>
	<h2><span class="label label-ioh">目前報名人數：<%= @lives.count %></span></h2>
<% end %>
<%= form_tag(admin_live_view_path, :method => "GET", class: "input-group col-md-4") do %>
		<span class="input-group-addon" id="basic-addon1">找講者？</span>
		<input type="text" class="form-control" aria-describedby="basic-addon1" name="query">

		<span class="input-group-btn">
      <button class="btn btn-default" type="submit">Search</button>
	  </span>
<% end %>
<table class="table table-hover">
	<thead>
		<tr>
				<th>名字</th>
				<th>gmail</th>
				<th>學校</th>
				<th>科系</th>
				<th>直播地點</th>
				<th>FB</th>
				<th>電話</th>
				<th>時間數量</th>
				<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<% @lives.each do |live| %>
			<tr>
				<td><%= live.name %></td>
				<td><%= live.gmail %></td>
				<td><%= /[\S]+$/.match(live.live_school.name)[0] if live.live_school %></td>
				<td><%= /[\S]+$/.match(live.live_department.name)[0] %></td>
				<td><%= live.location %></td>
<!-- 				<td>
					<% if live.ioh_url.present? %>
					<a href="<%= live.ioh_url %>" target="_blank">
						<span class="glyphicon glyphicon-new-window"></span>
					</a>
					<% end %>
				</td> -->
				<th><%= live.fb_url %></th>
				<th><%= live.phone %></th>
				<td><%= live.time_count %></td>
				<td>
					<a href="<%= "/admin/live/#{live.id}/edit" %>">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
