<%= render "live_nav" %>

<table class="table table-hover">
	<thead>
		<tr>
				<th>名字</th>
				<th>頻道</th>
				<th>Live Host</th>
				<th>學校</th>
				<th>科系</th>
				<th>直播地點</th>
				<th>影音同意書</th>
				<th>Q&A 連結</th>
				<th>文件命名</th>
				<th>直播命名</th>
				<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<% @lives.each do |live| %>
			<tr>
				<td><%= live.name %></td>
				<td><%= live.chennal %></td>
				<td><%= live.live_host %></td>
				<td><%= live.live_school.name if live.live_school %></td>
				<td><%= live.live_department.name %></td>
				<td><%= live.location %></td>
				<th>
					<% if live.audio_agree %>
						<span class="glyphicon glyphicon-ok" style="color: green;"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove" style="color: red;"></span>
					<% end %>
				</th>
				<th><%= live.qa_link %></th>
				<th><%= live.doc_naming %></th>
				<th><%= live.stream_naming %></th>
				<td>
					<a href="<%= "/admin/live/lh/#{live.id}/edit" %>">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>