<%= render "live_nav" %>

<%= form_tag(admin_live_lh_view_path, :method => "GET") do %>

	<%= label_tag :day, "選擇日期" %>
	<%= select_tag :day, options_for_select([["7/18", 1], ["7/19", 2], ["7/20", 3]], params[:day]) %>

	<%= submit_tag "Go!", class: "btn btn-success" %>
<% end %>

<table class="table table-hover">
	<thead>
		<tr>
				<th>名字</th>
				<th>直播時間</th>
				<th>頻道</th>
				<th>Live Host</th>
				<th>直播地點</th>
				<th>直播連結</th>
				<th>影音同意書</th>
				<th>電話聯絡</th>
				<th>Q&A 連結</th>
				<th>文件命名</th>
				<th>直播命名</th>
				<th>試錄連結</th>
				<th>在 studio?</th>
				<th>no show</th>
				<th>Edit</th>
				<th>Edit LH</th>
		</tr>
	</thead>
	<tbody>
		<% @lives.each do |live| %>
			<tr>
				<td><%= live.name %></td>
				<td><%= (live.live_time.start + 8*60*60).strftime("%a %H:%M") %></td>
				<td><%= live.chennal %></td>
				<td><%= live.live_host %></td>
				<td><%= live.live.location %></td>
				<td>
					<% if live.live.youtube_url.present? %>
					<a href="#" class="copy-link" data-clipboard-text="<%= live.youtube_url %>">Copy</a>
					<% end %>
				</td>
				<td>
					<% if live.live.audio_agree %>
						<span class="glyphicon glyphicon-ok" style="color: green;"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove" style="color: red;"></span>
					<% end %>
				</td>
				<td>
					<% if live.live.phone_contact %>
						<span class="glyphicon glyphicon-ok" style="color: green;"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove" style="color: red;"></span>
					<% end %>
				</td>
				<td>
					<% if live.live.qa_link.present? %>
					<a href="<%= live.qa_link %>" target="_blank">
						<span class="glyphicon glyphicon-new-window"></span>
					</a>
					<% end %>
				</td>
				<td><%= live.live.doc_naming %></td>
				<td><%= live.live.stream_naming %></td>
				<td>
					<% if live.live.test_record.present? %>
					<a href="<%= live.test_record %>" target="_blank">
						<span class="glyphicon glyphicon-new-window"></span>
					</a>
					<% end %>
				</td>
				<td>
					<% if live.live.in_studio %>
						<span class="glyphicon glyphicon-ok" style="color: green;"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove" style="color: red;"></span>
					<% end %>
				</td>
				<td>
					<% if live.live.no_show %>
						<span class="glyphicon glyphicon-ok" style="color: green;"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove" style="color: red;"></span>
					<% end %>
				</td>
				<td>
					<a href="<%= "/admin/live/lh/#{live.live.id}/edit" %>">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
				</td>
				<td>
					<a href="<%= "/admin/live/channel/#{live.id}/edit" %>">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<script>
	new Clipboard('.copy-link');

	$('.copy-link').click(function(){
		$(this).text("Copied!");
	});
</script>