<%= render "live_nav" %>

<div class="container col-md-7">
	<%= form_for @stream, :url => "/admin/live/lh/#{@stream.id}" do |f| %>

		<div class="form-group">
			<%= f.label :chennal, "頻道" %>
			<%= f.text_field :chennal, class: "form-control" %>
		</div>
		
		<div class="form-group">
			<%= f.label :live_host %>
			<%= f.text_field :live_host, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :youtube_url, "直播連結" %>
			<%= f.text_field :youtube_url, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label "影音同意書：" %>
			<%= f.label :audio_agree, "是" %>
			<%= f.radio_button :audio_agree, true %>
			<%= f.label :audio_agree, "否" %>
			<%= f.radio_button :audio_agree, false %>
		</div>

		<div class="form-group">
			<%= f.label "電話聯絡：" %>
			<%= f.label :phone_contact, "是" %>
			<%= f.radio_button :phone_contact, true %>
			<%= f.label :phone_contact, "否" %>
			<%= f.radio_button :phone_contact, false %>
		</div>

		<div class="class form-group">
			<%= f.label :qa_link, "Q&A 連結" %>
			<%= f.text_field :qa_link, class: "form-control" %>
		</div>

		<div class="class form-group">
			<%= f.label :doc_naming, "文件命名" %>
			<%= f.text_field :doc_naming, class: "form-control" %>
		</div>

		<div class="class form-group">
			<%= f.label :stream_naming, "Goole Hangout 直播命名" %>
			<%= f.text_field :stream_naming, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :test_record, "試錄連結" %>
			<%= f.text_field :test_record, class: "form-control" %>
		</div>

<!-- 		<div class="form-group">
			<%= f.label "移動到 Part 3：" %>
			<%= f.label :move_to_part_3, "是" %>
			<%= f.radio_button :move_to_part_3, true %>
			<%= f.label :move_to_part_3, "否" %>
			<%= f.radio_button :move_to_part_3, false %>
		</div> -->

		<div class="form-group">
			<%= f.label "在 studio：" %>
			<%= f.label :in_studio, "是" %>
			<%= f.radio_button :in_studio, true %>
			<%= f.label :in_studio, "否" %>
			<%= f.radio_button :in_studio, false %>
		</div>

		<div class="form-group">
			<%= f.label "No show：" %>
			<%= f.label :no_show, "是" %>
			<%= f.radio_button :no_show, true %>
			<%= f.label :no_show, "否" %>
			<%= f.radio_button :no_show, false %>
		</div>

		<%= f.submit "更新", class: "btn btn-primary" %>
	<% end %>
</div>