<% flash.each do |name, msg| %>
<%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
<section>
   <div>
      <%= image_tag("live-banner.png", class: "img-responsive") %>
   </div>
   <div class="container">
      <h2 class="title"><i>WHY should you JOIN?</i></h2>
      <p>你的 1 小時,改變 13 萬 6 千人的命運。</p>
      <p>
         IOH 開放個人經驗平台用 600 支以上的各大學求學經驗講座，讓沒有資源、沒有人脈的學生，可以透過這些影片來了解未來的選項，並且找到自己的熱情所在。然而許多學生在看完影片後，還有不懂的地方或是有進一步的問題目前無法直接對講者發問，而這些問題往往是做決定的關鍵。只有當所有台灣的青年學子都能找到自己的熱情與能發揮的場域所在，台灣的未來才會有希望，因此 IOH 想要邀請 100 位以上的講者一起來參與 2016 年指考學長姐線上直播諮詢會，每個人花 1 個小時來回答這些關乎學生人生抉擇的問題。
      </p>
      <br>
      <p>
         100 位 IOH 講者在網路上直播所花的 1 個小時，可以讓全台灣不論是身處偏鄉或是都市，不論是學校、家庭有無資源的 50,000 位高三指考考生，找到能發揮自己熱情的學校與科系。這些學子將會創造 10 年、20 年後我們所生存的台灣未來，藉由 1 個小時的經驗傳承讓這些學生的能力與熱情得以發揮，這也是我們可以一起改變未來讓台灣更好的一種方式，IOH 邀請您一起參與，成為自己想要看見的改變，用 100 位夥伴，一起替 50,000 位孩子找到人生方向。
      </p>
   </div>
   <div class="container text-center">
      <div class="col-md-4 col-xs-6">
         <h2 class="title"><i>WHO can JOIN?</i></h2>
         <div class="circle">
            <p>講者</p>
            <p style="text-align: left;">
               100 至 200 位 IOH 台灣各大學科系的講者（已經有錄製講座影片在 IOH 網站上），每一位講者進行最多兩次，每次 30 分鐘的網路直播問與答，即時回答高中生線上問題。直播期間，講者不需準備演講，僅需就觀眾文字發問之問題提出個人見解回答。
            </p>
         </div>
      </div>
      <div class="col-md-4 col-xs-6">
         <h2 class="title"><i>for WHO?</i></h2>
         <div class="circle">
            <p>觀眾</p>
            <p style="text-align: left;">
               針對 50,000 位高三指考考生，直播將以翻轉演講的方式進行，希望學生能事先看完有興趣大學與科系的求學講座影片，記下自己有疑問或是有興趣的部分，之後在直播時，直接用文字針對講者分享的內容，做更深入的詢問。
            </p>
         </div>
      </div>
      <div class="col-md-4 col-xs-6">
         <h2 class="title"><i>WHEN?</i></h2>
         <div class="circle" >
            <p>直播時間</p>
            <p style="text-align: left;">
               7/18 週一至 7/20 週三每日舉辦，時間分為兩個大時段，每次直播問答時段為 30 分鐘，每段問答時間將會有 4 至 6 位講者提供選擇：
            </p>
            <br>
            <h4>時段 一：14:00 - 16:30</h4>
            <h4>時段 二：20:00 - 22:30</h4>
         </div>
      </div>
   </div>
</section>
<br><br><br>
<section class="live-new" ng-app="">
   <div class="container">
      <div class="row">
         <div>
            <h2 class="title"><i>HOW to JOIN?</i></h2>
            <h3 id="under_title">如何參與？輕鬆回答以下問題！</h3>
            <div class="form-live-reg col-md-7" style="padding-left: 0px;">
               <%= form_for @live do |f| %>
               姓名（您在 IOH 講座頁面的中文姓名）：<%= f.text_field :name, class: "form-control form-live-reg", required: "required", id: "name_input", placeholder: "Name" %><br />
               G-mail 帳號（必須是 G-mail 帳號才能直播） : <%= f.text_field :gmail, class: "form-control form-live-reg", type: "email", required: "required", id: "gmail_input", placeholder: "G-mail Account" %><br />
               臉書帳號連結（方便 IOH 夥伴用臉書與您聯絡,請由網址列複製再貼上於此）： <%= f.text_field :fb_url, class: "form-control form-live-reg", required: "required", id: "fb_url_input", placeholder: "Your Facebook URL" %><br />
               電話（方便我們聯絡您,協調直播事宜）: <%= f.text_field :phone, class: "form-control form-live-reg", type: "tel", required: "required", id: "phone_input", placeholder: "Your Mobile Phone" %><br />
               學校 : <%= f.text_field :school, class: "form-control form-live-reg", required: "required", placeholder: "School" %><br />
               科系 : <%= f.text_field :department, class: "form-control form-live-reg", required: "required", placeholder: "Department" %><br />
               直播地點 : <%= f.text_field :location, class: "form-control form-live-reg", required: "required", placeholder: "Location", value: "台灣" %><br />
               <div class="field">
                 是否參與過 2016 年 2 月學測直播線上諮詢會?
                 <p></p>
                 <input type="radio" value="true" name="live[stream_201602]" id="live_stream_201602_true">&nbsp;是
                 &nbsp;&nbsp;&nbsp;&nbsp;
                 <input type="radio" value="false" checked="checked" name="live[stream_201602]" id="live_stream_201602_false">&nbsp;否
               </div>
               <br>
            </div>
            <div class="col-md-7" style="padding-left: 0px;">
              請在下方選擇您所有「有空」做直播的時段（可複選，最多選擇 3 個時段）：
              <br>
              <font size="1">
                直播一次約 30 分鐘，希望每一位講者至少可以做兩次的直播時間，兩次加起來共 1 小時。請勾選掉您沒有空的時段，IOH 會在您其他所有有空的時段
                中，安排您的 30 分鐘直播時間在不同的日期，排定好會再通知您。請至少留至少兩個以上的時段，謝謝。
                （例：2/22 - 2/26 每天晚上都有空，請把以下的時段全部不勾選起來，IOH 會挑兩天各安排您一次每次 30 分鐘的直播）
              </font>
            </div>
            <div class="col-md-10" style="padding-left: 0px;">
              <br><br>
              <% LiveTime.all.each do |time| %>
              	<button type="button" class="btn btn-date" data-toggle="button" aria-pressed="false" autocomplete="off">
                <b><%= content_tag(:span, time.start.strftime("%m/%d"), for: "live_live_time_ids_#{time.id}")%></b>
              	<%= content_tag(:span, time.start.strftime("%a"), class: "date_span", for: "live_live_time_ids_#{time.id}") %>
                <%= content_tag(:span, time.start.strftime("%H:%M") + ' - ' + time.end .strftime("%H:%M"), for: "live_live_time_ids_#{time.id}") %>
                <%= check_box_tag "live[live_time_ids][]", time.id, false, id: "live_live_time_ids_#{time.id}" %>
              	</button>
              <% end %>
            </div>
            <div class="col-md-7" style="padding-left: 0px;">
              <input type="hidden" name="live[live_time_ids][]" value="">
              <br /><br />
              有任何建議或是鼓勵,想要和我們說的嗎?:
              <%= f.text_area :feedback, class: "form-control form-live-reg", rows: 5, type: "text", id: "feedback_input", placeholder: 'Thank you！' %><br />
              <%= f.submit "Submit", class: "btn btn-gray col-md-6 col-xs-12", id: "submit" %>
            </div>
            <% end %>
         </div>
      </div>
   </div>
</section>
<sectoin class="footer">
  <div class="container">
    <h2 class="title">
      <i>EQUIPMENT?</i>
    </h2>
    <p>直播問題<br />講者需要配有電腦、攝影鏡頭（或電腦內建），附有麥克風的耳機，並且確認網路順暢，來進行直播，後續 IOH 團隊將會提供直播之技術支援教學。</p>
    <h2 class="title">
      <i>QUESTIONs?</i>
    </h2>
    <p>聯絡方式<br />
      張鈞婷<br />
      E-mail：gt@gmail.com<br />
      Office: 02-2931-8954</p>
  </div>
</section>
<script type="text/javascript">
  $('.circle').css('height', $('.circle').width());
  $('.circle').css('padding', '20% 15% 15% 15%');

  $('input[name="live[live_time_ids][]"]').each(function(){
    $(this).addClass('display_none');
    var _this = $(this);
    $(this).parents('button').click(function(){
      if($(this).css('background-color') !== 'rgb(255, 0, 0)') {
        $(this).css('background-color', 'red');
        $(this).css('color', 'white');
        _this.prop( "checked", true);
      }
      else {
        $(this).css('background-color', 'white');
        $(this).css('color', 'black');
        _this.prop( "checked", false);
      }
    });
  });

  $('.date_span').each(function(){
    switch ($(this).text()) {
      case "Mon":
        $(this).text("(一)");
        break;
      case "Tue":
        $(this).text("(二)");
        break;
      case "Wed":
        $(this).text("(三)");
        break;
    }
  });
</script>
