<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link rel="shortcut icon" href="<%= image_path " ioh-favicon.ico" %>"/>
</head>
<body>
	<%= yield %>
	<script type="text/javascript">
		$('.circle').css('height', $('.circle').width());
		$('.circle').css('padding', '20% 15% 15% 15%');
	</script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</body>
</html>
